.Header {
  position: relative;
}

.title {
  font-weight: 200;
  font-size: 1.5rem;
}

.text-header {
  color:white;
  padding-left: 3rem;
  position:relative;
  right:0;
}

.logo{
  padding-right: 2rem;
}